<div class="row P-5 justify-content-center">
    <div class="col-sm-4 mt-5">
        <div class="card odd cardActive " name="odd">
            <div class="card-body">
                <h5 class="card-title">Assignment 1
                    <img src="../../../assets/Imges/done.svg" width="30" height="30">
                </h5>
                <p class="card-text">Create User Component : Create InterFace , Add , Edit , Delete To User Array . </p>
                <a class="btn btn-primary" routerLink="/Users/mainPage">See Project</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mt-5">
        <div class="card" name="even">
            <div class="card-body">
                <h5 class="card-title ">Assignment 2
                    <img src="../../../assets/Imges/wait.svg" width="20" height="20">
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary disabled">See Project</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-5">
        <div class="card " name="odd">
            <div class="card-body">
                <h5 class="card-title">Assignment 3
                    <img src="../../../assets/Imges/wait.svg" width="20" height="20">
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary disabled">See Project</a>
            </div>
        </div>
    </div>

</div>